.formWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    color: orangered;
    background-image: linear-gradient(to right, purple, blue);
}

.formContainer {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid #fff;
    /* color:orangered; */
    border-radius: 8px;
    padding: 20px;
    background-color: #000;

}

.heading {
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
    color:orangered;
    font-weight: 900;
}

.label {
    font-size: 1.1rem;
    margin-bottom: 5px;
    color:orangered;
    font-weight: 700;
}

.inputBox {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    /* color: orangered; */
}

.inputBox:focus {
    border-color: #666;
    outline: none;
}

.submitBtn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: orangered;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitBtn:hover {
    background-color: #555;
}
